*, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}
.video-container {
    display: flex;
    flex-direction: column;
}

.video-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem 1rem;
    padding: 3rem 0;
    border-top: 4px solid #CCC;
}

.video-section:first-of-type {
    border-top: none;
    padding: 0 0 3rem 0;
}

.thumbnail {
    position: relative;
    display: flex;
}

.thumbnail::before {
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0,0,0,.85);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    border-radius: .3em;
    font-size: .9rem;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #AAA;
}

.channel-icon {
    margin-right: 0.75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
}

.video-bottom-section {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
    margin-left: 1rem;
}

.video-details {
    display: flex;
    flex-direction: column;
}

.video-title {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
    margin-bottom: 0.4rem;
}

.video-channel-name {
    font-size: 0.9rem;
    margin-bottom: .1rem;
    text-decoration: none;
    transition: color 150ms;
    display: none;
}

.video-channel-name:hover {
    color: #111;
}

.video-channel-name, .video-metadata {
    color: #555;
}
.video-metadata {
    font-size: 14px;
}

.video-section-title {
    grid-column: 1 / -1;
    margin: -.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}

.video-section-title-close {
    border: none;
    background: none;
    padding: 0;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
}

.videos {
    background-color: #F9F9F9;
}

.categories {
    padding: 1rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    display: none;
}

.category-section {
    display: flex;
    overflow: hidden;
}

.category {
    margin-right: 1rem;
    word-wrap: none;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 900px;
    background-color: #E7E7E7;
    padding: .5rem 1rem;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 150ms;
}

.category:hover {
    background-color: #DDD;
}

.category.active {
    background-color: #606060;
    color: white;
    border-color: #EEE;
}

.category:last-child {
    margin-right: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 56px;
}

.logo-container {
    align-self: center;
}
.youtube-logo {
    width: 95px;
    height: 30px;
}

.search-bar {
    display: none;
    flex-grow: 1;
    /* margin: 0 2rem 0 4rem; */
}

.search-input {
    width: 100%;
    font-size: inherit;
    padding: .4em;
    border: 1px solid #ccc;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-btn {
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #f0f0f0;
}

.menu-icons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 1.5rem;
}

.menu-channel-icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
}

.desktop-icon {
    display: none !important;
}
.youtube-body {
    display: flex;
}
.navbar {
    width: 0%;
}

.videos {
    width: 100%;
}

.start, .centre, .end {
    display: flex;
    align-items: center;
}

.centre {
    width: 47%;
}

.guide-btn {
    margin: 0 16px 0 0;
    color: #606060;
    width: 40px;
    height: 40px;
    padding: 8px;
}

.material-icons {
    color: #696969;
}

.option-icon {
    margin-right: 24px;
}
.home-icon {
    color: #f00;
}

.home-text {
    color: #030303;
    font-size: 14px;
}

.items-section-header {
    color: #606060;
    padding: 14px 24px;
    display: block;
    font-size: 14px;
}

.option {
    min-height: 46px;
    cursor: pointer;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 24px;
}

.home-option {
    background-color: #e5e5e5;
}

.items-seperator {
    border-top: 1px solid #CCC;
}

@media screen and (min-width: 600px) {
    .video-section {
        margin: 0 1.5rem;
    }

    .categories {
        display: block;
    }

    .search-bar {
        display: flex;
    }

    .desktop-icon {
        display: block;
    }

    .mobile-icon {
        display: none;
    }

    .menu-icons {
        grid-template-columns: repeat(4, auto);
    }
    
    .video-section:first-of-type  {
        border-top: none;
        padding: 3rem 0;
    }

    .video-channel-name {
        display: block;
    }

    .desktop-icon {
        display: block !important;
    }
    .navbar {
        width: 17%;
    }
    .videos {
        width: 83%;
    }
}